body {
    font-family: Arial, sans-serif;
    background-color: #1b1535;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #9984e4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 350px;
}

.form-text {
    font-size: 13px;
    color: black;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}